body{
    font-family: 'Montserrat', sans-serif;
}

header{
    width: 100%;
    background: #FFDAC1;
    border-bottom: 4px solid palevioletred;
}

.cabecera{
    display: flex;
    align-items: end;
    justify-content: space-around;
    font-size: 1.5rem;
}

.titulo{
    padding-top: 3rem;
    text-align: center;
}

.tituloPrincipal{
    font-size: 3rem;
    font-family: 'Dancing Script', cursive;
}

.subPrincipal{
    padding-top: 1rem;
    font-size: 18px;
    font-weight: 600;
}

nav ul{
    display: flex;
    gap: 1.2rem;
    padding-top: 3rem;
}

nav a{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

nav a:hover{
    text-decoration: underline;
    color: palevioletred;
}

.imagenes{
    padding: 0 0 0.2rem 4rem;
}

.img1{
    position: relative;
    left: 40px;
    bottom: 20px;
}

.img3{
    position: relative;
    left: 30px;
    bottom: 50px;
}

@media screen and (max-width: 768px) {

    .cabecera{
        flex-direction: column;
        align-items: center;
        font-size: 1rem;
        text-align: center;

    }

    nav ul{
        gap: 0.9rem;
        padding-bottom: 1rem;
    }

    .imagenes{
        display: none;
    }
}

